<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/LayoutPadrao}">

<head>
<link rel="stylesheet"
	th:href="@{/style/bootstrap-datepicker.standalone.min.css}">
</head>

<body>

	<section layout:fragment="conteudo" class="container">

		<div class="col-sm-6 offset-sm-3">

			<h2>Novo Evento</h2>
			<form th:action="@{/eventos/novo}" method="POST"
				th:object="${evento}">

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('nome')}"
					th:each="err : ${#fields.errors('nome')}">[[${err}]]</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="exampleInputEmail1">Dá um nome pro esquema:</label> <input
								th:field="*{nome}" class="form-control" autofocus="autofocus"
								placeholder="Churrasco loco...">

						</div>
					</div>
				</div>

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('descricao')}"
					th:each="err : ${#fields.errors('descricao')}">[[${err}]]</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="exampleInputEmail1">Descreva como será o
								negócio:</label> <textarea th:field="*{descricao}" class="form-control"
								autofocus="autofocus" placeholder="Vai começar com o Elias metendo 'bem-sim-meti aqui'..." rows="3"></textarea>
						</div>
					</div>
				</div>

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('local')}"
					th:each="err : ${#fields.errors('local')}">[[${err}]]</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="exampleInputEmail1">Onde?</label> <input
								th:field="*{local}" class="form-control" autofocus="autofocus"
								placeholder="Num lugar lá...ahamm hamm">
						</div>
					</div>
				</div>

				<div class="alert alert-danger" role="alert"
					th:if="${#fields.hasErrors('data')}"
					th:each="err : ${#fields.errors('data')}">[[${err}]]</div>
				<div class="row">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="exampleInputEmail1">Agora me diz...quando?</label> <input
								data-provide="datepicker" data-date-format="dd/mm/yyyy" placeholder="Temos que ver...é vdd..."
								th:field="*{data}" class="form-control datepicker"
								autofocus="autofocus">
						</div>
					</div>
				</div>


				<button type="submit" class="btn btn-primary">Salva logo
					(lahhh)</button>

			</form>

		</div>

	</section>

	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascript/bootstrap-datepicker.min.js}"></script>
		<script th:src="@{/javascript/bootstrap-datepicker.pt-BR.min.js}"></script>
		<script>
			$(function() {
			})
		</script>
	</th:block>
</body>

</html>